# Unity rebuildable or machine-specific folders
Library/
Temp/
Logs/
UserSettings/
Obj/
Build/
Builds/
MemoryCaptures/

# Visual Studio / JetBrains / Rider files
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.mdb
.cache
mono_crash.

# IDE folders
.vscode/
.idea/

# macOS system files
.DS_Store